<div>
        <a class="footer-link" href="https://twitter.com/rynetwork">Twitter</a> <span> | </span>
        <a class="footer-link" href="https://www.linkedin.com/in/susie-newton-31bb3360/">LinkedIn</a>
    
  <br> 

  <script>
        © 2008 new Date().getFullYear() > 2010 && document.write("- " + new Date().getFullYear());
      </script> S. E. Newton all rights reserved and managed by <br>
      <p>RYBNetWork</p><br />

      <a href="https://app.termly.io/document/terms-of-use-for-website/cb49b42f-caca-4d7d-b413-985ac0070b58"> Terms and Service</a>
      | <a href="https://app.termly.io/document/privacy-policy/a21e1e7d-3e66-469c-ae47-46aea44a9a8e">Privacy Policy</a> |
      <a href="https://app.termly.io/document/cookie-policy/e0702946-d189-41ef-b200-53ba4236b618">Cookies Policy</a>
    
    <br>
  </center>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta2/dist/js/bootstrap.bundle.min.js" integrity="sha384-b5kHyXgcpbZJO/tY9Ul7kGkf1S0CWuKcCD38l8YkeH8z8QjE0GmW1gYU5S9FOnJ0" crossorigin="anonymous"></script>